In [1]:
import pandas as pd

Q1. List any five functions of the pandas library with execution.

In [ ]:
#1. DataFrame to convert data 
df = pd.DataFrame({
'A':[1,2,3,4],
'B':[1,2,3,4],
'C':[1,2,3,4],    
})
#2. read to read data
df = pd.read_csv()
#3. apply to apply function on dataframe
Text = ['Apoorv','Jindal']
df = pd.DataFrame({'Text':Text})
df['Word_Count'] = df['Text'].apply(lambda x: len(x))
df
#4.set_index to set index in dataframe
df = pd.DataFrame({
'A':[1,2,3,4],
'B':[1,2,3,4],
'C':[1,2,3,4],    
})
i = [i for i in range(1,df.shape[0]+4,2)]
df['index'] = i
df.set_index('index')
#5. date_range
df= pd.date_range(start = '2022-12-01',end = '2023-02-14')

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [42]:
df = pd.DataFrame({
'A':[1,2,3,4],
'B':[1,2,3,4],
'C':[1,2,3,4],    
})
i = [i for i in range(1,df.shape[0]+4,2)]
df['index'] = i
df.set_index('index')

       A  B  C
index
1      1  1  1
3      2  2  2
5      3  3  3
7      4  4  4

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [88]:
def sum_values(x):
    s = 0
    for i in range(3):
        s = s + x[i]
    return s
df = pd.DataFrame({
'Values':[10,20,30,40,50]
})
df.apply(sum_values)

Values    60
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [5]:
Text = ['Apoorv','Jindal']
df = pd.DataFrame({'Text':Text})
df['Word_Count'] = df['Text'].apply(lambda x: len(x))
df

     Text  Word_Count
0  Apoorv           6
1  Jindal           6

Q5. How are DataFrame.size() and DataFrame.shape() different?

Size and shape of a dataframe in pandas python: Size of a dataframe is the number of fields in the dataframe which is nothing but number of rows * number of columns. Shape of a dataframe gets the number of rows and number of columns of the dataframe.

Q6. Which function of pandas do we use to read an excel file?

pd.read_excel() function is used to read an excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [66]:
def username(x):
    return x.split('@')[0]
df = pd.DataFrame({
'Email':['apoo@gmail.com','jindal@gmail.com']
})
df['Username'] = df['Email'].apply(username)
df

              Email Username
0    apoo@gmail.com     apoo
1  jindal@gmail.com   jindal

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [125]:
def filterfunc(x):
    return x[(x.iloc[::1]>5)]
data = {
'A':[3,8,6,2,9],
'B':[5,2,9,3,1],
'C':[1,7,4,5,2]    
}
df = pd.DataFrame(data)
df.apply(filterfunc)

   A    B    C
1  8  NaN  7.0
2  6  9.0  NaN
4  9  NaN  NaN

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [51]:
def stats(x):
    return x.mean(),x.median(),x.std()
df = pd.DataFrame({
'Values':[1,2,3,4]
})
df.apply(stats, axis=0)

     Values
0  2.500000
1  2.500000
2  1.290994

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving

In [33]:
def movingAverage(x):
    return x.rolling(window=7).mean()
df=pd.DataFrame({
'Sales':[12,13,14,15,56,12,44,33],
'Date':['2023-04-12','2023-05-12','2023-06-12','2023-07-12','2023-08-12','2023-09-12','2023-10-12','2023-11-12']    
})
df['Date']=pd.to_datetime(df['Date'])
df['MovingAverage']=df[['Sales']].apply(movingAverage)
df

   Sales       Date  MovingAverage
0     12 2023-04-12            NaN
1     13 2023-05-12            NaN
2     14 2023-06-12            NaN
3     15 2023-07-12            NaN
4     56 2023-08-12            NaN
5     12 2023-09-12            NaN
6     44 2023-10-12      23.714286
7     33 2023-11-12      26.714286

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [19]:
def weekday(x):
    return x.dt.day_name()
df = pd.DataFrame({
'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']
})
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df.apply(weekday)
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [12]:
def select_date(date):
    return date[(date>pd.to_datetime('2023-01-01'))&(date<pd.to_datetime('2023-01-31'))]
df= pd.date_range(start = '2022-12-01',end = '2023-02-14')
df = pd.DataFrame(df)
df.apply(select_date)

            0
32 2023-01-02
33 2023-01-03
34 2023-01-04
35 2023-01-05
36 2023-01-06
37 2023-01-07
38 2023-01-08
39 2023-01-09
40 2023-01-10
41 2023-01-11
42 2023-01-12
43 2023-01-13
44 2023-01-14
45 2023-01-15
46 2023-01-16
47 2023-01-17
48 2023-01-18
49 2023-01-19
50 2023-01-20
51 2023-01-21
52 2023-01-22
53 2023-01-23
54 2023-01-24
55 2023-01-25
56 2023-01-26
57 2023-01-27
58 2023-01-28
59 2023-01-29
60 2023-01-30

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

import pandas as pd is required to use functions of pandas