In [5]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
df.iloc[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The function . loc is typically used for label indexing and can access multiple columns, while . iloc is used for integer indexing.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [9]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df.loc[2], new_df.iloc[2]

(course_name    Big Data
 duration              6
 Name: 2, dtype: object,
 course_name    Machine Learning
 duration                      3
 Name: 1, dtype: object)

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [12]:
def mean_value(x):
    return x.mean()
df1.apply(mean_value)

column_1    0.390742
column_2    0.370537
column_3    0.713832
column_4    0.365965
column_5    0.384476
column_6    0.457446
dtype: float64

In [13]:
df1['column_2'].std()

0.23193810169155046

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [19]:
df1['column_2']

1    0.277949
2    0.256986
3    0.289884
4    0.090409
5    0.684291
6    0.623702
Name: column_2, dtype: float64

In [31]:
df1['column_2'][2] = 'Apoorv'

Getting error as mean of string variable cannot be calculated

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

The Window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The Windows functions help us to perform aggregated calculations across various partitions or cross-sections of the data.
Types of window functions are:
Aggregate
Group by
Rolling
Expanding
Ranking
Row number
reset_index()
cumcount()
Rank
default_rank
min_rank
NA_bottom
descending
Dense rank
Percent rank
N-Tile / qcut()
Value
Lag / Lead
First / Last / nth value

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [45]:
df = pd.to_datetime('2023-06-19')
d = pd.DataFrame({'Date':[df]})
print(d['Date'].dt.month)
print(d['Date'].dt.year)

0    6
Name: Date, dtype: int64
0    2023
Name: Date, dtype: int64

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [52]:
from datetime import date
date_entry1 = input('Enter a date in YYYY-MM-DD format')
year, month, day = map(int ,date_entry1.split('-'))
date1 = date(year, month, day)
date1

Enter a date in YYYY-MM-DD format 1111-11-11

datetime.date(1111, 11, 11)

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
text = input('Enter file path')
column = input('Enter column name')
order = input('Enter category order')
df.read_csv(text)
df = pd.DataFrame(df, columns = column)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
text = input('Enter File path')
df = pd.read_csv(text)
df = pd.DataFrame(df)
df.plot.bar(x = 'Product',y='Sales')

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [44]:
text = input('Enter file path')
df = pd.read_csv(text)
df = pd.DataFrame(df)
median = df['Test Score'].median()
mean = df['Test Score'].mean()
mode = df['Test Score'].mode()
i = ['Value']
df1 = pd.DataFrame({'mean':mean,'median':median,'mode':mode}, index = i).T
df1

Enter file path student_data.csv

        Value
mean     83.5
median   85.0
mode      NaN